*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 background: #1B262C;
}
header{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding-top: 15px;
}
.logo{
 color: white;
 font-size:25px;
 font-weight: 900px;
 text-decoration: none;
}
.hamburger{
 display: none;
 color: #fff;
 font-size: 50px;
 font-weight: bolder;
 position: absolute;
 right: -50px;
 cursor: pointer;
}
.close{
 display: none;
 color: #fff;
 font-size: 70px;
 font-weight: bolder;
 position: absolute;
 right: -50px;
 cursor: pointer;
}
.menu{
 display: flex;
 list-style-type: none;
}
.menu a{
 text-decoration: none;
 color: #fff;
 margin-right: 100px;
 font-size: 25px;
}

.menu a:hover{
 text-decoration: underline;
 color: gold;
}
.btn1{
 background: linear-gradient(108.5deg, #3A5E72 4.95%, #5C93B1 132.43%);
box-shadow: inset 7px 7px 10px rgba(79, 136, 167, 0.3);
border-radius: 20px;
height: 68px;
width: 165px;
color: #fff;
font-size: 24px;
border: none;
cursor: pointer;
}
.content1{
 color: #FFFFFF;
 width: 700px;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 font-size: 40px;
 line-height: 65px;
 margin-top: 50px;
}
.content1a{
 color:rgba(120, 207, 255, 1);
 text-decoration: none;
}
.searchRow{
 width: 85%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 35px;
 display: flex;
 justify-content: space-between;
}
#countryState{
 background: #24343D;
box-shadow: inset 10px 10px 30px rgba(36, 52, 61, 0.6);
border: none;
width: 358px;
height: 80px;
border-radius: 12px;
}
#countryState::placeholder{
 color: #fff;
 Padding: 30px;
 font-size: 20px;
}
.tempRange{
 width: 730px;
 height: 80px;
 color: #fff;
 font-size: 23px;
 background: #24343D;
border-radius: 12px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 30px;
}
#temp{
 width: 154px;
 height: 65px;
 background: rgba(31, 45, 52, 0.43);
border-radius: 15px;
color: #fff;
cursor: pointer;
padding: 5px 20px ;
font-size: 23px;
}
option{
 background-color: black
}
#degree{
 width: 154px;
 height: 65px;
 background: rgba(31, 45, 52, 0.43);
border-radius: 15px;
color: #fff;
cursor: pointer;
padding: 5px 5px ;
font-size: 23px;
}
#weather{
 width: 154px;
 height: 65px;
 background: rgba(31, 45, 52, 0.43);
border-radius: 15px;
color: #fff;
cursor: pointer;
padding: 5px 25px ;
font-size: 23px;
}
.imageWeather{
 display: flex;
 /* flex-wrap: wrap; */
 position: relative;
 justify-content: space-between;
 width: 85%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 0px;
 margin-bottom: 0px;
}
.border{
 width: 355px;
 height: 486px;
 margin-top: 61.46px;
 background: #24353E;
box-shadow: 10px 9px 70px rgba(36, 53, 62, 0.4);
border-radius: 20px;
 
}
.cloudyImage{
 position: relative;
 top: -375px;
}
.sunnyImage{
 position: relative;
 top: -375px;
 left: 40px;
}
.rainImage{
 position:relative;
 top: -297px;
 left: 97px;
}
.details{
 color: #fff;
 position: relative ;
 top: 200px;
 line-height: 65px;
 padding-left: 53px;
 font-weight: 300px;
 font-size: 40px;
}
.wind{
 font-size: 25px;
 /* line-height: 65px; */
}

/* Mobile screen max-width 360px */
@media screen and (max-width: 800px) {
 header{
  margin-left: 2rem;8li
 }
 .hamburger{
  display: block;
 }
 .close{
  position: absolute;
  top: 20px;
  right: -60px;
 }
 .menu{
  display:none;
  height: 110vh;
  position: relative;
  top: 100px;
  width: 300px;
  /* justify-content: center; */
  /* align-content: center; */
 }
 .menu li{
  margin-top: 50px;
  /* justify-content: center; */
 }
 .navbar{
  margin-top: 40px;
 }


 .show-menu{
  display: block;
 }
.btn1{
 display: none;
}
.show-close {
 display: block;
}
.deactive {
display: none;
}
}